[run]
source = backend
omit =
    # Exclude settings and configuration files
    backend/core/settings.py
    backend/core/urls.py
    backend/core/asgi.py
    backend/core/wsgi.py

    backend/files/urls.py
    
    backend/*/tests/*
    backend/files/*/__init__.py
    backend/*/__init__.py
    # Exclude migration files
    backend/*/migrations/*
    backend/manage.py

[report]
exclude_lines =
    # Don't complain about missing debug-only code
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code
    raise NotImplementedError
    except ImportError
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Don't complain about type checking
    if TYPE_CHECKING:
    
    # Don't complain about Python 2/3 compatibility
    if six\.PY3
    
    # Don't complain about deprecated code
    @(deprecated|Deprecated) 